	<div>
	<div >

			<img src="resources/images/logo_just_spark.svg" class="picTest" />
			<div class="logoContainer">

				<div class="logoName">
					<h2>
						<strong>Spark</strong>
					</h2>
				</div>
				<div class="tagline">
					<span>Start Coding Today</span>
				</div>
			</div>
			<div class="divider"></div>

			<div class="loginForm">
				<section class="tab" ng-controller="TabController as panel">
					<ul class="nav nav-pills">
						<li ng-class="{loginPillActive:panel.isSelected(1) }"><a href
							ng-click="panel.selectTab(1)" class="loginPill">Login</a></li>
						<li ng-class="{loginPillActive:panel.isSelected(2) }"><a href
							ng-click="panel.selectTab(2)" class="loginPill">Register</a></li>
					</ul>
					<form ng-controller="LoginController as loginCtrl">
						<div id="username">
							<input type="text" class="usernameInput" placeholder="Username"
								value="" ng-model="user.j_username">
						</div>
						<div id="password">
							<input type="password" class="passwordInput"
								placeholder="Password" value=""
								ng-model="user.j_password">
						</div>
						<div ng-show="panel.isSelected(1)">
							<button type="button" ng-show="panel.isSelected(1)" class="submitButton" ng-click="login()">Login</button>
						</div>
						<div ng-show="panel.isSelected(2)">
							<button type="button" class="submitButton" ng-click="register()">Register</button>
						</div>
						
					</form>
				</section>

			</div>
		</div>
		</div>